In [1]:
#colab introduction

print("hello world")

hello world

#test
this is just tset document for getting training

In [2]:
#using arthmatic operator

a=int(input("enter first value"))
b=int(input("write second value"))
c=a+b
d=a-b
e=a*b
g=a/b
print("the sum of no. is",c)
print("the sub of no. is",d)
print("the mul of no. is",e)
print("the div of no. is",g)

enter first value30
write second value20
the sum of no. is 50
the sub of no. is 10
the mul of no. is 600
the div of no. is 1.5

In [4]:
#how to use format function

a=int(input("enter first value"))
b=int(input("write second value"))
c=a+b
d=a-b
e=a*b
g=a/b
print("c is {},d is {},e is {},g is {}".format(c,d,e,g))

enter first value23
write second value265
c is 288,d is -242,e is 6095,g is 0.08679245283018867

In [5]:
x=2
y=2
z=(x==y)
x=y
print(type(x))

<class 'int'>

In [6]:
x=int(input("enter first value"))
y=int(input("enter second value"))
z=int(input("enter third value"))

if(x>y): 
  if(z==x):
    print("lol")
      
else:
  if(x<y):
    if(z!=x):
      print("d lol")

enter first value20
enter second value30
enter third value50
d lol